html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
header{
    background-color: #278652;
    color: #FFF;
    padding: 5px;
   
}
.titre1{
    text-decoration: none;
    color: #FFF;
    
}
.titre2{
    border-bottom: 3px solid #FFF;
    padding-bottom: 5px;
    
}

footer{
    background-color: #278652;
    color: #FFF;
    padding: 5px;
}