html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
header{
    background-color: #278652;
    color: #FFF;
    padding: 5px;
    text-decoration: none;
}

.titre1{
    border-bottom: 3px solid #FFF;
    padding-bottom: 5px;
    
    
}
.titre2{
    text-decoration: none;
    color: #FFF;
}

.campSmitty{
    /*padding: 50px;*/
    border: 1px solid #000;
    padding: 5px;
    width: 1200px;
    height: 600px;
    /*margin-left: 100px;
    margin-top: 30px;*/
}
.icon{
    
    padding: 10px;
    max-width: 100px;
    max-height: 100px;
    
}
.lieu{
    padding: 1px;
    max-width: 50px;
    max-height: 50px;
}
.bus{
    padding: 1px;
    max-width: 50px;
    max-height: 50px;
}
p{
    max-width: 700px;
}
.camping{
    
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    
}
.animation{
    width: 1000px;
    height: 500px;
    padding: 0.5em;
}

.slider{
    width: 1000px;
    overflow: hidden;
    margin: 10px auto;
}
.slides{
    width: calc(1000px * 4);
    animation: calc 5s infinite;

}
.slide{
    float: left;
}
@keyframes calc{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-800px);
    }
    50%{
        transform: translateX(-1600px);
    }
    75%{
        transform: translateX(-2400px);
    }
    100%{
        transform: translateX(0);
    }
}
footer{
    background-color: #278652;
    color: #FFF;
    padding: 5px;
    margin-bottom: 10px;
}